.bg-dark{
    background-color: #E28D00 !important;
}

.studie-overskrift{
    margin-top:30px;
    text-align:left;
}

.studie-tekst{
    text-align:left;
}

.btn-primary{
    background-color:#101010;
    border-color:#101010;
}

.btn-primary:hover{
background-color:white;
color:black;
border-color:white;
}

.btn-outline-light{
    color:#101010;
    border-color:#101010;
}

.btn-outline-light:hover{
    background-color:black;
    color:white;
    border-color:black;
}
